html {
    height: 100%;
    display: flex;
    align-items: stretch;
    background: linear-gradient(to bottom, #203a43, #2c5364);
    margin: 0;
}

body {
    flex-grow: 1;
    border: red 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 5em;
    color: white;
    margin: 0;
}

p {
    text-align: center;
    color: white;
    font-size: 2em;
}

i {
    font-size: 5em;
    color: white;
}

a {
    text-decoration: none;
}